<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Home Page</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <h2>¿Qué es Music.IO?</h2>
          <p>En el mundo moderno la brecha entre lo privado y lo público continua disminuyendo. De igual manera lo hace el almacenamiento local y el almacenamiento en la nube que día tras día se acercan uno a otro fusionandose. De este concepto nace la idea de Music.IO un reproductor de musica por streaming onDemand que permite escuchar música donde sea.</p>
        </div>
        <div class="col-sm-6">
          <h2>Motivación</h2>
          <p>Este proyecto fue creado teniendo en cuenta el ritmo de la sociedad actual y el lenguaje universal de la musica. Todos quieren disfrutar de la música y hacerlo con la libertad que ofrecen los servicios basados en la nube. La música esta a un toque de distancia.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <a class="btn btn-default" href="https://github.com/MusicIO-Grupo2"><i class="ion-social-github"></i> GitHub project</a>
</div>
</div>